h1{
	background-color: #4f4f4f; 
	color: #B1BCBB;
	padding: 10px;
	
}

nav{
	text-align: center;	
}


body{
	background-color: #B1BCBB;
	border-style: solid;
}

p{
	color: #21465B;
	padding: 10px;
}

nav a {
	text-decoration: none;
	color: red;
	font-size: 25px;
	border-style:dotted; 
	border-color: black;
}

body a{
	padding: 5px;
}
