h1{
	background-color: #4f4f4f; 
	color: #B1BCBB;
	padding: 10px;	
}

nav{
	text-align: center;	
}

body{
	background-color: #B1BCBB;
	border-style: solid;
	margin: 20px;
	padding-bottom: 20px;
}	

p{
	color: #21465B;
	padding: 20px;
}

nav a {
	text-decoration: none;
	color: red;
	font-size: 25px;
	border-style:dotted; 
	border-color: black;
}

body a{
	padding: 5px;
}

.pic{
	margin-left: auto;
	margin-right: auto;
	width: 600px;

}