body {
	background-color: #ffffff;
	color: #666666;
}

header {
	background-color: #BA1C21;
	color: #ffffff;
}

nav {
	background-color: #f3f3f3;
}

h1{
	margin-bottom: 0px;
}

h2 {
	color: #424242;
}

dt {
	color: #BA1C21;
}

.dsu {
	color: #BA1C21;
}